<div id="preview-footer-view" class="preview-nav" data-preview="{{theme_preview_number}}">
  <div class="row">
    <div class="pull-right col-md-2">
      <a class="btn btn-sm btn-default js-close-preview js-notransition" rel="nofollow" data-method="put" href="/shop/close_preview?current_path={{full_page_url}}">プレビューを終了</a>
    </div>
  </div>
</div>
