{{ 'shop/sale_rankings' | javascript_include_tag }}
<main class="l-container js-main-container" role="main">
  {{ content_for_sale_ranking }}
</main>

{% content_for meta_description %}
{% endcontent_for %}

{% content_for meta_keywords %}
{% endcontent_for %}

{% content_for title %}
{% endcontent_for %}
