<div class="p-password_footer" data-section-id="password_footer">
  <div class="p-password__copyright u-color__text--sub" style="font-size: {{section.settings.text_font_size}}px;">{{ section.settings.text | escape }}</div>
</div>