{% if customer_signed_in and current_customer.buy_times == 0 %}
  <div id="view-invite-code" class="p-checkout__list__block u-color__border--border">
    <div class="p-checkout__list__block__inner">
      <h2 class="p-checkout__list__block__inner__title u-text--subhead">{{ 'customer.invite_code.invite_code.value' | t }}</h2>
      <table class="c-form_table">
        <tbody>
          <tr>
            <th class="u-text--body">{{ 'customer.invite_code.invite_code.value' | t }}</th>
            <td>
              <input class="u-text--input u-color__input--bg u-color__border--input" type="text" value="" name="order[invite_code]" placeholder="{{ 'customer.invite_code.placeholder.value' | t }}">
              <input type="hidden" name="order[customer_attributes][invite_codes_invitee_attributes][invite_code_id]" value="">
              <div class="c-form_table__notes u-text--body">{{ 'customer.invite_code.invite_code_text.value' | t }}</div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endif %}
