{{ 'shop/base' | javascript_include_tag }}

<main class="l-container js-main-container" role="main" id="add_product_async_view">
  {{ 'notice' | flash: 'control-alert alert-success', 'text u-color__bg--bg u-color__text--alert' }}
  {{ 'alert' | flash: 'control-alert alert-danger', 'text u-color__bg--bg u-color__text--alert' }}
  <div id="cart-addition-failure" class="p-product_alert" style="display:none;">
    <div class="control-alert alert-danger">
      <div class="text u-color__bg--bg u-color__text--alert">
        <div>
          <p id="addition-failure-message"></p>
          <p id="btn-show-addition-failure-details" class="p-product_alert__details_show_btn" style="display:none;">さらに詳しく</p>
        </div>

        <div>
          <p id="addition-failure-details" class="p-product_alert__details" style="display:none;"></p>
          <p id="btn-hide-addition-failure-details" class="p-product_alert__details_hide_btn" style="display:none;">閉じる</p>
        </div>
      </div>
    </div>
  </div>
  
  test section A
  {{ content_for_index }}
  test section B

  {% comment %} welcome modal {% endcomment %}
  {% comment %} {% unless customer_signed_in %}
    <div class="c-welcome_modal">
      <div class="c-welcome_modal__overlay"></div>
      <div class="c-welcome_modal__win u-color__bg--base">
        <div class="c-welcome_modal__win__title u-font__both">NEWS LETTER</div>
        <div class="c-welcome_modal__win__lead">新商品、お得なお知らせなどを定期的に配信中、<br />今機会に是非登録してください。</div>
        <form class="c-subscribe_form">
          <input class="c-subscribe_form__input u-color__bg--base u-color__border--input" type="email">
          <button class="c-subscribe_form__btn u-color__bg--accent u-color__text--base">登録</button>
        </form>
        <button class="c-welcome_modal__win__btn"><i class="u-icon--close"></i></button>
      </div>
    </div>
  {% endunless %} {% endcomment %}
  {% comment %} end of welcome modal {% endcomment %}

  {% comment %} movie modal {% endcomment %}
  <div class="c-movie_modal">
    <div class="c-movie_modal__inner">
      <i class="c-movie_modal__inner__close u-icon--close u-color__text--base js-close-movie"></i>
      <div class="c-movie_modal__inner__content">
        <div id='ytplayer-modal'></div>
      </div>
    </div>
  </div>
  {% comment %} end of movie modal {% endcomment %}
</main>
