<main class="l-container" role="main">
  <div class="l-container__row">
    <div class="p-password">
      <div class="p-password__inner">
        <div class="p-password__content">
          {% section 'password_header' %}
          {% section 'password_content' %}
        </div>
        {% section 'password_footer' %}
      </div>
    </div>
  </div>
</main>