<main class="l-container" role="main">
  <div class="l-container__row u-margin__top--60 u-margin__bottom--100">
    <section class="p-page_content">
      <div class="p-page_content__inner">
        <!-- ステップメール購読解除 -->
        <p class="u-text--body" style="text-align: center;">購読を解除しました。ご購読ありがとうございました。</p>
      </div>
    </section>
  </div>
</main>
